apiVersion: v1
kind: Namespace
metadata:
  name: consent-manager

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: dataflow
  namespace: consent-manager
  labels:
    app: dataflow
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  selector:
    matchLabels:
      app: dataflow
  template:
    metadata:
      labels:
        app: dataflow
    spec:
      containers:
        - name: dataflow
          image: 413379950444.dkr.ecr.us-east-2.amazonaws.com/consent-manager/dataflow:latest
          env:
          - name: "SERVER_PORT"
            value: "8090"
          # gatewayservice
          - name: "GATEWAY_BASE_URL"
            value: "http://aa7e8390b4a8f4363a90f79137f62c68-2022049164.us-east-2.elb.amazonaws.com:8000/v0.5"
          - name: "GATEWAY_REQUEST_TIMEOUT"
            value: "5000"
          - name: "GATEWAY_CLIENT_SECRET"
            value: "3ef83dc1-2ff1-4a7b-8982-b8328237afdf"
          - name: "GATEWAY_CLIENT_ID"
            value: "ncg"
          - name: "CENTRAL_REGISTRY_JWK_URL"
            value: "http://aa7e8390b4a8f4363a90f79137f62c68-2022049164.us-east-2.elb.amazonaws.com:8000/v0.5/certs"
          # consentmanager
          - name: "CONSENT_MANAGER_URL"
            value: "http://a694c24894bb445789feedb879ecaaf7-325014892.us-east-2.elb.amazonaws.com:9000"
          # Database
          - name: "POSTGRES_HOST"
            value: "172.16.10.131"
          - name: "POSTGRES_PORT"
            value: "5432"
          - name: "CONSENT_MANAGER_DB_NAME"
            value: "dataflow_service"
          - name: "POSTGRES_USER"
            value: "postgres"
          - name: "POSTGRES_PASSWORD"
            value: "8U-BWr9Gz!276zLe"
          # keycloak
          - name: "KEY_CLOAK_URL"
            value: "https://vaccine.surveymaster.in/auth"
          - name: "KEY_CLOAK_CONSENT_CLIENT_ID"
            value: "consent-manager"
          - name: "KEY_CLOAK_CONSENT_CLIENT_SECRET"
            value: "e18bcd6c-178f-4335-814e-ce0231f83b1d"
          - name: "KEY_CLOAK_JWK_URL"
            value: "https://vaccine.surveymaster.in/auth/realms/vaccination/protocol/openid-connect/certs"
          # Valid values are guava(for local), redis
          - name: "CACHE_METHOD"
            value: "guava"
          # Redis Config: Will not be used if cacheMethod is guava
          - name: "REDIS_HOST"
            value: "localhost"
          - name: "REDIS_PORT"
            value: "6379"
          - name: "REDIS_PASSWORD"
            value: "password"
          - name: "REDIS_KEY_EXPIRY"
            value: "5"
          - name: "ROOT_NAMESPACE"
            value: "gateway"
          - name: "KEEP_ALIVE_ENABLED"
            value: "false"
          - name: "REDIS_RETRY"
            value: "0"
          # RabbitMQ/Kafka
          - name: "SPRING_CLOUD_STREAM_KAFKA_BINDER_PRODUCER_PROPERTIES_SCHEMA_REGISTRY_URL"
            value: "http://172.16.10.230:8081"
          - name: "RABBITMQ_HOST"
            value: "a1147c0a10bd24fd0bf0f7acb4846697-2045861127.us-east-2.elb.amazonaws.com"
          - name: "RABBITMQ_PORT"
            value: "5672"
          - name: "RABBITMQ_USERNAME"
            value: "guest"
          - name: "RABBITMQ_PASSWORD"
            value: "guest"
            
          ports:
            - containerPort: 8090
