apiVersion: v1
kind: Namespace
metadata:
  name: consent-manager

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-test
  namespace: consent-manager
  labels:
    app: user-test
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  selector:
    matchLabels:
      app: user-test
  template:
    metadata:
      labels:
        app: user-test
    spec:
      containers:
        - name: user-test
          image: devinfysurveyappregistry.azurecr.io/user-test:latest
          env:
          - name: "SERVER_PORT"
            value: "7000"
          # user
          - name: "CONSENT_APP_NAME"
            value: "PHR-App"
          - name: "TRANSACTION_PIN_DIGIT_SIZE"
            value: "4"
          - name: "TRANSACTION_PIN_TOKEN_VALIDITY"
            value: "2"
          - name: "USER_CREATION_TOKEN_VALIDITY"
            value: "5"
          - name: "USER_ID_SUFFIX"
            value: "@ncg"
          - name: "MAX_OTP_ATTEMPTS"
            value: "2"
          - name: "MAX_OTP_ATTEMPTS_PERIOD_IN_MIN"
            value: "1"
          - name: "OTP_ATTEMPTS_BLOCK_PERIOD_IN_MIN"
            value: "1"
          - name: "OTP_INVALID_ATTEMPT_BLOCK_PERIOD_IN_MIN"
            value: "1"
          - name: "MAX_INVALID_OTP_ATTEMPTS"
            value: "3"
          # gatewayservice
          - name: "GATEWAY_BASE_URL"
            value: "http://10.0.2.199:8000/v0.5"
          - name: "GATEWAY_REQUEST_TIMEOUT"
            value: "5000"
          - name: "GATEWAY_CLIENT_SECRET"
            value: "edbf171c-9b87-4a0a-9403-48c42c373735"
          - name: "GATEWAY_CLIENT_ID"
            value: "ncg"
          - name: "GATEWAY_JWK_URL"
            value: "http://10.0.2.199:8000/v0.5/certs"
          # locked-user-service
          - name: "MAXIMUM_INVALID_ATTEMPTS"
            value: "5"
          - name: "COOL_OF_PERIOD"
            value: "8"
          # otpservice
          - name: "OTP_SERVICE_URL"
            value: "httP://10.0.2.201:80"
          - name: "OTP_EXPIRY_IN_MINUTES"
            value: "5"
          # jwt
          - name: "JWT_SECRET"
            value: "secret_salt"
          # authorization
          - name: "AUTHORIZATION_HEADER"
            value: "Authorization"
          # keycloak
          - name: "KEY_CLOAK_URL"
            value: "http://20.40.6.45:8080/auth"
          - name: "KEY_CLOAK_CONSENT_CLIENT_ID"
            value: "consent-manager"
          - name: "KEY_CLOAK_CONSENT_CLIENT_SECRET"
            value: "27076830-b2be-44ac-ac42-ab69be47766d"
          - name: "KEY_CLOAK_CONSENT_USER_NAME"
            value: "consent-service-admin-user"
          - name: "KEY_CLOAK_CONSENT_PASSWORD"
            value: "welcome"
          - name: "KEY_CLOAK_JWK_URL"
            value: "http://20.40.6.45:8080/auth/realms/consent-manager/protocol/openid-connect/certs"
          - name: "KEY_CLOAK_TOKEN_ISSUER"
            value: "http://20.40.6.45:8080/auth/realms/consent-manager"
          # Database
          - name: "POSTGRES_HOST"
            value: "jdbc:postgresql://infy-survey-app.postgres.database.azure.com"
          - name: "POSTGRES_PORT"
            value: "5432"
          - name: "USER_DB_NAME"
            value: "user-service"
          - name: "POSTGRES_USER"
            value: "infysurveydev@infy-survey-app"
          - name: "POSTGRES_PASSWORD"
            value: "infy@123_"
          # Valid values are guava(for local), redis
          - name: "CACHE_METHOD"
            value: "guava"
          # Redis Config: Will not be used if cacheMethod is guava
          - name: "REDIS_HOST"
            value: "localhost"
          - name: "REDIS_PORT"
            value: "6379"
          - name: "REDIS_PASSWORD"
            value: "password"
          - name: "REDIS_KEY_EXPIRY"
            value: "5"
          - name: "ROOT_NAMESPACE"
            value: "gateway"
          - name: "KEEP_ALIVE_ENABLED"
            value: "false"
          - name: "REDIS_RETRY"
            value: "0"
          # listeners
          - name: "LISTENERS_MAXIMUM_RETRIES"
            value: "10"
          - name: "LISTENERS_RETRY_INTERVAL"
            value: "1000"
          # keystore
          - name: "KEYSTORE_PATH"
            value: "/user-local-keystore.p12"
          - name: "KEYSTORE_PASSWORD"
            value: "password"
          - name: "KEY_STORE_TYPE"
            value: "PKCS12"
          - name: "PIN_VERIFICATION_KEYPAIR_ALIAS"
            value: "test-pin-verification"
          # Web Client
          - name: "USE_HTTP_CONNECTION_POOL"
            value: "true"
          # Http Connection Pool
          - name: "HTTP_CONNECTION_POOL_SIZE"
            value: "500"
          - name: "HTTP_CONNECTION_MAX_LIFETIME"
            value: "10"
          - name: "HTTP_CONNECTION_MAX_IDLETIME"
            value: "5"
                      
          ports:
            - containerPort: 7000
